
<div class="container">
  <div ng-hide="$root.client.torrents.length != 0" style="vertical-align: middle; text-align: center">
    <div class="row">
      <form class="no-margin" ng-submit="addMagnet()">
        <label>Entrez un lien magnet, hash ou http(s) .torrent</label>
        <input type="text" placeholder="magnet, hash or http(s) .torrent" ng-model="torrentInput" ng-disabled="$root.disabled" style="width: 50%"/>
      </form>
    </div>
    <div class="row">
      <label>ou...</label>
      <button type="file" ngf-select="$root.openTorrentFile($file)" ng-disabled="$root.disabled" ng-class="{'button-primary': !$root.disabled}"><i class="fa fa-folder-open"></i> Open torrent file</button>
    </div>
  </div>
  <div class="div" ng-if="selectedTorrent" style="text-align: center">
    <div class="four columns" style="overflow: auto">
      <h4>Information</h4>
      <table class="u-full-width">
        <tbody>
          <tr>
            <td>Nom</td>
            <td>{{$root.selectedTorrent.name}}</td>
          </tr>
          <tr>
            <td>Taille</td>
            <td>{{$root.selectedTorrent.length | pbytes}}</td>
          </tr>
          <tr>
            <td>Complété</td>
            <td>{{$root.selectedTorrent.progress | progress}} ({{$root.selectedTorrent.downloaded | pbytes}})</td>
          </tr>
          <tr>
            <td>Pairs</td>
            <td>{{$root.selectedTorrent.numPeers}}</td>
          </tr>
          <tr>
            <td>↓ Vitesse</td>
            <td>{{$root.selectedTorrent.downloadSpeed | pbytes:1}}</td>
          </tr>
          <tr>
            <td>ETA</td>
            <td>{{$root.selectedTorrent.timeRemaining | humanTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="four columns">
      <h4>Fichiers</h4>
      <table class="u-full-width" style="margin: auto">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Taille</th>
            <th>Priorité</th>
          </tr>
        </thead>
        <tbody>
          <tr class="files" ng-repeat="file in $root.selectedTorrent.files">
            <td ng-hide="file.done">{{file.name}}</td>
            <td ng-show="file.done"><a ng-href="{{file.url}}" download="{{file.name}}" target="_self" ng-show="file.done">{{file.name}}</a></td>
            <td>{{file.length | pbytes}}</td>
            <td>
              <select class="no-margin" name="{{file.name}}Priority" ng-model="file.priority" ng-init="file.priority = '0'" ng-change="$root.changePriority(file)">
                <option value="1">Haute priorité</option>
                <option value="0" selected="">Faible priorité</option>
                <option value="-1">Ne pas télécharger</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <h5>↑ Click a file to download it</h5>
    </div>
    <div class="four columns">
      <h4>Partager</h4>
      <ul style="text-align: justify">
        <li><a ng-href="#{{$root.selectedTorrent.infoHash}}" target="_blank">βTorrent</a></li>
        <li><a ng-href="{{$root.selectedTorrent.magnetURI}}" target="_blank">Magnet URI</a></li>
        <li><a ng-href="{{$root.selectedTorrent.safeTorrentFileURL}}" target="_self" download="{{$root.selectedTorrent.fileName}}">.torrent</a></li>
        <li><strong>Hash: </strong>{{$root.selectedTorrent.infoHash}}</li>
      </ul>
    </div>
  </div>
</div>